{% extends 'FrontendBundle:Layouts:1column.html.twig' %}

{% block title %}{{ 'MOVERS by FUE'|trans }}{% endblock %}
{% block description %}{{''|trans}}{% endblock %}
{% block sectionclass %}blog page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section id="blog">
        <div class="container">
            {% for post in posts %}
                {% if loop.index0 is divisible by(3) %}
                <div class="row">
                {% endif %}
                {{ render(controller("BlogBundle:Blog:postCard", {'post': post})) }}
                {% if loop.index0 + 1 is divisible by(3) or loop.last %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}