{% extends 'FrontendBundle:Layouts:2columns.html.twig' %}

{% block title %}{{ 'MOVERS by FUE'|trans }} | {{ post.title }}{% endblock %}
{% block description %}{{''|trans}}{% endblock %}
{% block sectionclass %}blog page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section id="post">
        <div class="row">
            <div class="col-md-12">
                <article id="post-{{ post.id }}" class="card">
                    <header>
                        {% include 'BlogBundle:Blog:carousel.html.twig' %}
                        <h1>{{ post.title }}</h1>
                        <h2 class="subtitle">
                            {{ post.subtitle | raw }}
                        </h2>
                        {% if post.category is defined %}
                        <span class="category">{{ post.category }}</span>
                        {% endif %}
                        <span class="date">{{ post.created | date("F jS \\a\\t g:ia") }}</span>
                        <span class="social-buttons">
                            <a class="" href=""><i class="fa fa-twitter"></i> Twitter</a>
                            <a class="" href=""><i class="fa fa-facebook"></i> Facebook</a>
                            <a class="" href=""><i class="fa fa-linkedin"></i> LinkedIn</a>
                        </span>
                    </header>
                    <section class="post-body">
                        {{ post.body | raw }}
                    </section>
                    <footer>
                        <div class="tags">
                            <ul class="list-unstyled">
                            {% for tag in post.tags %}
                                <li><a href="#view-post-of-tag" title="{{ 'View related posts' | trans }}">{{ tag }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </section>
{% endblock %}

{% block sidenav %}
    {% include 'BlogBundle:Blog:sidenav.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}