{% extends 'BackendBundle:Layouts:2columns.html.twig' %}

{% block breadcrumb %}
    {{ setCrumbs({'Roles': ''}) }}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card-item card-indigo">
                    <div class="card-title">
                        <h2>
                            {{ 'Roles list' | trans }}
                        </h2>

                        <h3>
                            {{ 'In this panel you can edit or delete every role that you have created' | trans }}
                        </h3>

                        <a title="{{ 'Create new Role' }}" class="float-action-button fab-red" href="{{ path('super_admin_role_create') }}">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                <div class="card-description {% if roles | length == 0 %}card-padding{% endif %}">
                    {% if roles | length > 0 %}
                    <table class="table table-hover table-striped data-table">
                        <thead>
                        <tr>
                            <th>{{ 'ID' | trans }}</th>
                            <th>{{ 'Name' | trans }}</th>
                            <th>{{ 'Users' | trans }}</th>
                            <th>{{ 'Action' | trans }}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for role in roles %}
                        <tr>
                            <td>{{ role.id }}</td>
                            <td>{{ role.nameWithPrefix }}</td>
                            <td>{{ role.users | length }}</td>
                            <td>
                                <a class="edit btn btn-blue" href="{{ path('super_admin_role_edit', {'slug': role.slug}) }}" title="{{ 'Edit role' | trans }}"><i class="fa fa-pencil"></i></a>
                                <a class="delete btn btn-red" href="{{ path('super_admin_role_delete', {'slug': role.slug}) }}" title="{{ 'Delete role' | trans }}"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% else %}
                        <p>
                            {{ 'No entries were found' | trans }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}