{% extends 'BackendBundle:Layouts:2columns.html.twig' %}

{% block breadcrumb %}
    {% if edition is defined %}
        {% set crumbs = {'Posts': path('admin_post_index'), 'Edit post': '' } %}
    {% else %}
        {% set crumbs = {'Posts': path('admin_post_index'), 'Create post': '' } %}
    {% endif %}

    {{ setCrumbs(crumbs) }}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/tinymce-content.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/select2.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/custom.select2.css') }}" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card-item card-cyan">
                <form method="post" action="{% if edition is defined %}{{ path('admin_post_edit',{'slug':post.slug}) }} {% else %} {{ path('admin_post_create') }}{% endif %}" {{ form_enctype(imageForm) }}>
                    <div class="card-title">
                        <h2>
                            {{ 'Post creation' | trans }}
                        </h2>

                        <h3>
                            {{ 'Here you can create new posts' | trans }}
                        </h3>

                        <button type="submit" class="float-action-button fab-red borderless">
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                    <div class="card-description card-padding">
                        <div class="row">
                            <div class="col-md-9">
                                {% include 'BackendBundle:Post:post-form.html.twig' %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/backend/js/select2.min.js') }}"></script>
    {% include 'BackendBundle:Scripts:image-thumbnail-helper.html.twig' %}
    <script>
        window.addEventListener('load', function(evt) {
            $(".select2").select2();
            ImageThumbnail.init('#multiple_images_images', '#thumbnails-list');
        });
        function tinymce_button_strong(ed) {
            var theText = ed.selection.getContent();
            ed.selection.setContent('<strong>'+theText+'</strong>');
        }
    </script>
    {{ tinymce_init() }}
{% endblock %}