<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-tag"></i>
        </span>
        <div class="line">
            {{ form_widget(form.title, { 'attr': { 'class': 'form-control required', 'placeholder': 'Post title' | trans} }) }}
        </div>
    </div>
    <small class="help-block">
        {{ '*This field is required' | trans }}
    </small>
</div>

<div class="form-group">
    <label for="post_subtitle">{{ 'Post subtitle' | trans }}</label>
    <div class="line">
        {{ form_widget(form.subtitle, { 'attr': { 'class': 'form-control required tinymce', 'placeholder': 'Type here' | trans} }) }}
    </div>
    <small class="help-block">
        {{ 'Type here a small description of the post including keywords' | trans }}
    </small>
</div>

<div class="form-group">
    <label for="post_body">{{ 'Post content' | trans }}</label>
    {{ form_widget(form.body, { 'attr': { 'class': 'form-control required tinymce'} }) }}
    <small class="help-block">
        {{ '*This field is required' | trans }}
    </small>
</div>

<div class="form-group">
    <label for="post_tags">{{ 'Post tags' | trans }}</label>
    <div class="line">
        {{ form_widget(form.tags, { 'attr': { 'class': 'form-control required select2', 'placeholder': 'Post tags' | trans} }) }}
    </div>
    <small class="help-block">
        {{ 'Choose as many tags as you want' | trans }}
    </small>
</div>

<div class="form-group">
    <label for="post_category">{{ 'Post category' | trans }}</label>
    <div class="line select">
        {{ form_widget(form.category, { 'attr': { 'class': 'form-control required', 'placeholder': 'Post category' | trans} }) }}
    </div>
    <small class="help-block">
        {{ '*This field is required' | trans }}
    </small>
</div>

<div class="form-group">
    <label for="post_authors">{{ 'Other authors' | trans }}</label>
    <div class="line select">
        {{ form_widget(form.authors, { 'attr': { 'class': 'form-control required select2', 'placeholder': 'Other authors' | trans} }) }}
    </div>
</div>

<div class="form-group">
    <label for="multiple_images_images">{{ 'Post images' | trans }}</label>
    <input type="file" multiple="multiple" class="hidden" name="multiple_images[images][]" id="multiple_images_images">
    <input type="hidden" name="not_upload_files" />
    <a href="#multiple_images_images" class="input-file">
        <i class="fa fa-plus"></i>
    </a>
    <ul id="upload-thumbnails" class="list-unstyled thumbnails-list"></ul>
    {% if edition is defined and post.images | length > 0 %}
    <ul id="thumbnails" class="list-unstyled thumbnails-list">
        {% for image in post.images %}
            {% set path = image.ImageThumbnail.getWebFilePath ~ '?' ~ random() %}
            <li data-delete-path="{{ path('delete_image', {'id' : image.id}) }}" data-action="{{ path('update_image', {'id': image.id}) }}" data-src="{{ asset(path) }}" data-description="{{ image.description }}">
                <img src="{{ asset(path) }}" class="image-thumbnail" />
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{{ form_rest(form) }}