{% set action = app.request.attributes.get('_route') %}
{% set params = app.request.attributes.get('_route_params') %}
<aside id="sidenav" data-toggle="false">
    <div class="main-menu-wrapper">
        {{ render(controller('BackendBundle:Backend:profile')) }}
        <ul class="list-unstyled">
            {#<li>
                <a href="" class="active" title="{{ 'Events' | trans }}">
                    <i class="fa fa-calendar"></i> {{ 'Events' | trans }}
                </a>
            </li>#}
            <li>
                <a href="{{ path('admin_index') }}" {% if action == 'admin_index' %}class="active"{% endif %} title="{{ 'Dashboard' | trans }}">
                    <i class="fa fa-home"></i> {{ 'Dashboard' | trans }}
                </a>
            </li>
            <li class="submenu {% if action == 'admin_tag_index' or action == 'admin_tag_create' or action == 'admin_tag_edit' or action == 'admin_category_index' or action == 'admin_category_create' or action == 'admin_category_edit' or action == 'admin_post_index' or action == 'admin_post_create' or action == 'admin_post_edit' %}open{% endif %}">
                <a href="" title="{{ 'Blog' | trans }}">
                    <i class="fa fa-pencil"></i> {{ 'Blog' | trans }}
                    <i class="fa fa-caret-down pull-right"></i>
                </a>
                <ul class="list-unstyled">
                    <li>
                        <a href="" title="{{ 'Posts' | trans }}" {% if action == 'admin_post_index' or action == 'admin_post_create' or action == 'admin_post_edit' %}class="active"{% endif %}>
                            {{ 'Posts' | trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_tag_index') }}" title="{{ 'Tags' | trans }}" {% if action == 'admin_tag_index' or action == 'admin_tag_create' or action == 'admin_tag_edit' %}class="active"{% endif %}>
                            {{ 'Tags' | trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_category_index') }}" title="{{ 'Categories' | trans }}" {% if action == 'admin_category_index' or action == 'admin_category_create' or action == 'admin_category_edit' %}class="active"{% endif %}>
                            {{ 'Categories' | trans }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>

{% include 'BackendBundle:Scripts:sidenav-helper.html.twig' %}