<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-tag"></i>
        </span>
        <div class="line">
            {{ form_widget(form.name, { 'attr': { 'class': 'form-control required', 'placeholder': 'Forum name' | trans} }) }}
        </div>
    </div>
    <small class="help-block">
        {{ '*This field is required' | trans }}
    </small>
</div>

<div class="form-group">
    <label>{{ 'User roles' | trans }}</label>
    <div class="line">
        {{ form_widget(form.readAuthorisedRoles, { 'attr': { 'class': 'form-control required select2', 'placeholder': 'User roles that are authorised to read this forum' | trans} }) }}
    </div>
    <small class="help-block">
        {{ 'If you leave this blank, everyone could read this forum' | trans }}
    </small>
</div>

{{ form_rest(form) }}