<div class="row">
    <div class="col-md-6">
        <div class="card-item">
            <div class="card-title">
                <h2>Recent Items</h2>
                <h3>Since your last visit</h3>
                <a class="float-action-button fab-red">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="card-description">
                <div class="list-view">
                    <a class="list-item">
                        <img class="li-small pull-left" src="{{ asset('bundles/backend/img/user.png') }}" />
                            <span class="list-content media-body">
                                <b class="li-title">Picos El Cartujano</b>
                                <small class="li-description">Picos de pan con aceite de oliva</small>
                            </span>
                    </a>

                    <a class="list-item">
                        <img class="li-small pull-left" src="{{ asset('bundles/backend/img/user.png') }}" />
                            <span class="list-content media-body">
                                <b class="li-title">Picos El Cartujano</b>
                                <small class="li-description">Picos de pan con aceite de oliva</small>
                            </span>
                    </a>

                    <a class="list-item">
                        <img class="li-small pull-left" src="{{ asset('bundles/backend/img/user.png') }}" />
                            <span class="list-content media-body">
                                <b class="li-title">Picos El Cartujano</b>
                                <small class="li-description">Picos de pan con aceite de oliva</small>
                            </span>
                    </a>
                </div>
            </div>

            <div class="card-footer">
                <a href="#">View all entries</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card-item card-lime">
            <div class="card-title">
                <h2>Recent Items</h2>
                <h3>Since your last visit</h3>
                <a class="float-action-button fab-green">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="card-description">
                <div class="list-view">
                    <a class="list-item">
                        <img class="li-small pull-left" src="{{ asset('bundles/backend/img/user.png') }}" />
                            <span class="list-content media-body">
                                <b class="li-title">Picos El Cartujano</b>
                                <small class="li-description">Picos de pan con aceite de oliva</small>
                            </span>
                    </a>

                    <a class="list-item">
                        <img class="li-small pull-left" src="{{ asset('bundles/backend/img/user.png') }}" />
                            <span class="list-content media-body">
                                <b class="li-title">Picos El Cartujano</b>
                                <small class="li-description">Picos de pan con aceite de oliva</small>
                            </span>
                    </a>

                    <a class="list-item">
                        <img class="li-small pull-left" src="{{ asset('bundles/backend/img/user.png') }}" />
                            <span class="list-content media-body">
                                <b class="li-title">Picos El Cartujano</b>
                                <small class="li-description">Picos de pan con aceite de oliva</small>
                            </span>
                    </a>
                </div>
            </div>

            <div class="card-footer">
                <a href="#">View all entries</a>
            </div>
        </div>
    </div>
</div>