{% extends 'FrontendBundle:Layouts:1column.html.twig' %}

{% block title %}{{ 'MOVERS by FUE'|trans }}{% endblock %}
{% block description %}{{''|trans}}{% endblock %}
{% block sectionclass %}home page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section id="banner-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wrapper">
                    <h3>Be a <strong class="red">MOVER</strong></h3>
                    <h3><strong class="red">MOVE</strong> the world</h3>
                </div>
            </div>
        </div>
    </section>

    <section id="blog" style="min-height: 50rem">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- Post card -->
                    <article class="card">
                        <header>
                            <a href="#" title="{{ 'Ver más' }}">
                                <img class="img-responsive" src="{{ asset('bundles/frontend/img/blog.jpg') }}" alt="{{ 'Post Title' | trans }}" />
                                <h1>
                                    {{ 'Post 1 title' | trans }}
                                </h1>
                                </a>
                        </header>

                        <section class="card-content clearfix">
                            <p>
                                Quisque consequat arcu eget odio cursus, ut tempor arcu vestibulum. Etiam ex arcu, porta a urna non, lacinia pellentesque orci. Proin semper sagittis erat, eget condimentum...
                            </p>
                            <a class="read-more" href="#">{{ 'Leer más' | trans }} <i class="fa fa-angle-double-right"></i></a>
                        </section>
                    </article>
                </div>

                <div class="col-md-4">
                    <!-- Post card -->
                    <article class="card">
                        <header>
                            <a href="#" title="{{ 'Ver más' }}">
                                <img class="img-responsive" src="{{ asset('bundles/frontend/img/blog.jpg') }}" alt="{{ 'Post Title' | trans }}" />
                                <h1>
                                    {{ 'Post 2 title' | trans }}
                                </h1>
                            </a>
                        </header>

                        <section class="card-content clearfix">
                            <p>
                                Etiam ex arcu, porta a urna non, lacinia pellentesque orci. Proin semper sagittis erat, eget condimentum...
                            </p>
                            <a class="read-more" href="#">{{ 'Leer más' | trans }} <i class="fa fa-angle-double-right"></i></a>
                        </section>
                    </article>
                </div>

                <div class="col-md-4">
                    <!-- Post card -->
                    <article class="card">
                        <header>
                            <a href="#" title="{{ 'Ver más' }}">
                                <img class="img-responsive" src="{{ asset('bundles/frontend/img/blog.jpg') }}" alt="{{ 'Post Title' | trans }}" />
                                <h1>
                                    {{ 'Post 3 title' | trans }}
                                </h1>
                            </a>
                        </header>

                        <section class="card-content clearfix">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt interdum erat quis finibus. Vivamus consequat risus turpis, ut convallis sapien commodo et...
                            </p>
                            <a class="read-more" href="#">{{ 'Leer más' | trans }} <i class="fa fa-angle-double-right"></i></a>
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section id="post">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <article id="post-XXX" class="card">
                        <header>
                            <img class="img-responsive" src="{{ asset('bundles/frontend/img/blog.jpg') }}" alt="{{ 'Post Title H1' | trans }}" />
                            <h1>{{ 'POST 1 TITLE H1' | trans }}</h1>
                            <h2 class="subtitle">
                                {{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget felis cursus, ultricies. Pellentesque non pretium tortor, et mattis tellus. POST SUBTITLE H2' | trans }}
                            </h2>
                            <span class="category">{{ 'CategoryName' | trans }}</span>
                            <span class="date">22 de Marzo de 2015</span>
                            <span class="social-buttons">
                                <a class="" href=""><i class="fa fa-twitter"></i> Twitter</a>
                                <a class="" href=""><i class="fa fa-facebook"></i> Facebook</a>
                                <a class="" href=""><i class="fa fa-linkedin"></i> LinkedId</a>
                            </span>
                        </header>
                        <section class="post-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget felis cursus, ultricies nibh ac, vehicula est. Praesent tincidunt suscipit ex, ac viverra mauris tincidunt at. Nam consequat, purus nec cursus ultricies, lorem ex tempor ipsum, ut aliquet mi nulla sit amet massa. Nunc eu augue quis lectus egestas sagittis. Curabitur ut sapien ut ex fermentum rutrum posuere sed dolor. Sed consequat enim ut nisi dictum, sit amet volutpat elit fermentum. Phasellus pulvinar ligula sed neque finibus, quis tempus arcu aliquet. Proin sollicitudin, mi quis malesuada lacinia, erat dui tincidunt lectus, sit amet tempor dui neque vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget mi suscipit, lacinia magna a, maximus mauris. Suspendisse potenti. Phasellus non lacus non mi tincidunt iaculis a nec mi.
                                <br><br>
                                Vivamus aliquam, tortor sed tincidunt viverra, orci mauris tincidunt mi, quis ultricies nisi lacus ut sapien. Etiam ex sapien, pellentesque quis accumsan vitae, consequat sit amet eros. Donec dapibus ante vitae lobortis egestas. Proin quis auctor leo. Fusce rhoncus placerat tristique. Nam lacus eros, rhoncus in posuere ac, sodales in nibh. Etiam in tellus risus. Etiam scelerisque sed nulla at molestie. Aliquam sed metus quis dolor auctor venenatis ac at ante. Vestibulum ac ornare purus. Donec dignissim lacus vitae est volutpat dignissim id at risus. Ut laoreet lacus leo, at gravida metus finibus quis. Fusce congue quis eros ut pretium.
                                <br><br>
                                Pellentesque non pretium tortor, et mattis tellus. Pellentesque semper sem dolor, vitae euismod est facilisis ut. Sed quis est semper, mattis ligula ut, consectetur nisi. Vestibulum at velit dolor. Integer ultricies orci sit amet magna placerat, nec sagittis erat posuere. Aenean lobortis magna at tristique placerat. Vestibulum suscipit tortor eu tellus bibendum, sit amet scelerisque lectus congue. Suspendisse pretium lorem vitae tellus sodales convallis. Vivamus ac semper enim. Fusce urna lacus, maximus ut velit lobortis, porttitor mattis sem. Donec urna enim, facilisis nec risus vitae, facilisis imperdiet elit. Integer hendrerit magna lectus, nec ultrices mauris luctus ut. Aenean facilisis nisi et mauris semper pellentesque. Sed lobortis tincidunt turpis, ac tincidunt purus facilisis vitae.
                                <br><br>
                                Sed tincidunt turpis at tellus mollis congue. Nulla accumsan leo sed justo fringilla, sed lacinia erat ultrices. Suspendisse potenti. Curabitur orci purus, lacinia ut gravida in, mollis non dui. Proin ac orci in velit interdum scelerisque. Proin mattis, orci ac semper ultricies, metus sem dignissim diam, non lacinia est nulla eu sapien. Suspendisse dapibus placerat enim, sed tristique lacus aliquet in. Nam porta mi eu nulla ultrices, non tincidunt eros cursus. Suspendisse ullamcorper eget urna nec eleifend. Maecenas eget interdum augue. Aenean sodales ac erat eu varius. Fusce sit amet feugiat nunc. Nunc consectetur consequat nunc, in aliquam risus ultricies a. Cras fringilla viverra nisl, aliquet suscipit ipsum molestie non. Cras sagittis enim nec posuere tempor.
                                <br><br>
                                Aliquam ultrices justo in sapien consequat, eu mollis augue feugiat. Vivamus ipsum orci, congue vel neque id, maximus auctor lectus. Proin placerat enim vitae mi elementum faucibus non eu arcu. Proin quam elit, elementum nec pretium in, ornare ac lorem. Nulla facilisi. Mauris ipsum ligula, eleifend non augue ac, ornare molestie enim. Maecenas commodo dolor nec dui lacinia dignissim. Ut tempor nulla non lacinia viverra. Aenean accumsan risus libero, posuere dapibus turpis finibus in. Nunc et neque facilisis orci ultrices condimentum ut a nisl. Vestibulum faucibus, nibh ut semper accumsan, velit tortor venenatis ex, quis varius justo augue eget mauris. Praesent aliquam eros dolor, ac tristique mi cursus eu. Maecenas et nulla vel tellus feugiat mollis.
                            </p>
                        </section>
                        <footer>

                        </footer>
                    </article>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var ScrollSpy = {
            firstSection: null,
            offset: 60,
            target: null,

            init: function(target) {
                this.firstSection = document.querySelector('section:not(#banner-top)');
                this.target = target;
                this.addEventListeners();
            },

            addEventListeners: function() {
                document.addEventListener('scroll', function(evt) {
                   var scrollY = this.getScrollY();
                   if (this.firstSection.offsetTop - this.offset < scrollY) {
                       if (!this.target.classList.contains('navbar-opaque'))
                           this.target.classList.add('navbar-opaque');
                   } else {
                       if (this.target.classList.contains('navbar-opaque'))
                           this.target.classList.remove('navbar-opaque');
                   }
                }.bind(this));
            },

            getScrollY: function() {
                var  scrOfY = 0;
                if(typeof(window.pageYOffset) === 'number') {
                    //Netscape compliant
                    scrOfY = window.pageYOffset;
                } else if(document.body && document.body.scrollTop)  {
                    //DOM compliant
                    scrOfY = document.body.scrollTop;
                }

                return scrOfY;
            }
        };

        ScrollSpy.init(document.querySelector('nav.mover-navbar'));
    </script>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}