{% extends 'FrontendBundle:Layouts:1column.html.twig' %}

{% block title %}{{ 'MOVERS by FUE'|trans }}{% endblock %}
{% block description %}{{''|trans}}{% endblock %}
{% block sectionclass %}blog page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container container-main">
        <section>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile card card-padding">
                        {% set path = user.ImageProfile.ImageProfileSquare.getWebFilePath ~ '?' ~ random() %}
                        <div class="box">
                            <div class="content">
                                <img class="img-responsive img-profile" src="{{ asset(path) }}" alt="{{ user.name }}" />
                            </div>
                        </div>
                        <small>
                            {{ user.summary }}
                        </small>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="profile-data card card-padding">
                        <h1>{{ user.name }} {{ user.lastName }}</h1>
                        <i>{{ user.degree }}</i>

                        <p>
                            {{ user.aboutMe }}
                        </p>

                        <ul class="contact-me list-unstyled">
                            {% if user.email is defined and user.email is not null %}
                                <li>
                                    <i class="fa fa-envelope"></i> {{ user.email }}
                                </li>
                            {% endif %}

                            {% if user.twitter is defined and user.twitter is not null %}
                                <li>
                                    <i class="fa fa-at"></i>{{ user.twitter }}
                                </li>
                            {% endif %}

                            {% if user.website is defined and user.website is not null %}
                                <li>
                                    <i class="fa fa-desktop"></i> {{ user.website }}
                                </li>
                            {% endif %}
                        </ul>

                        <h2>{{ 'My posts' }}</h2>
                        <div class="posts">
                            {% if user.posts | length > 0 %}
                                <ul class="list-unstyled">
                                    {% for post in user.posts %}
                                        <li>
                                            <a href="{{ path('blog_view_post', {'slug': post.slug}) }}" title="{{ post.title }}">{{ post.title }}</a>
                                        </li>
                                    {% endfor %}
                                    <li>
                                        <a href="{{ path('blog_view_post_by_user', {'slug': user.slug}) }}" title="{{ 'View all posts' | trans }}">{{ 'View all my posts' | trans }} <i class="fa fa-angle-double-right"></i></a>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}