{% if post.imageMain %}
<div class="col-md-4">
    <!-- Post card -->
    <article class="card">
        <header>
            <a href="{{ path('blog_view_post', {'slug' : post.slug}) }}" title="{{ 'Read more' | trans }}">
                {% set path = post.imageMain.ImagePostCard.getWebFilePath ~ '?' ~ random() %}
                <img class="img-responsive" src="{{ asset(path) }}" alt="{{ post.imageMain.description }}" />
                <h1>
                    {{ post.title }}
                </h1>
            </a>
        </header>

        <section class="card-content clearfix">
            <p>
                {{ post.subtitle | raw }}
            </p>
            <a class="read-more" href="{{ path('blog_view_post', {'slug' : post.slug}) }}">{{ 'Read more' | trans }} <i class="fa fa-angle-double-right"></i></a>
        </section>

        <div class="tags">
            <ul class="list-unstyled">
                {% for tag in post.tags %}
                    <li><a href="#view-post-of-tag" title="{{ 'View related posts' | trans }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </article>
</div>
{% endif %}