{% extends "BackendBundle:Layouts:2columns.html.twig" %}

{% block breadcrumb %}
    {{ setCrumbs({'Profile': ''}) }}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card-item">
                <div class="p-overview">

                </div>

                <div class="p-main clearfix">
                    <!-- SUMMARY -->
                    <div class="p-block">
                        <div class="p-block-header">
                            <h2><i class="fa fa-folder-open"></i>{{ 'Summary' | trans }}</h2>
                            <ul class="actions">
                                <li>
                                    <a href="" aria-expanded="false" data-action="edit">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="p-block-body">
                            {% include 'BackendBundle:Admin:Profile/summary.html.twig' %}
                        </div>
                    </div>

                    <!-- BASIC INFORMATION -->
                    <div class="p-block">
                        <div class="p-block-header">
                            <h2><i class="fa fa-user"></i>{{ 'Basic information' | trans }}</h2>
                            <ul class="actions">
                                <li>
                                    <a href="" aria-expanded="false" data-action="edit">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="p-block-body">
                            {% include 'BackendBundle:Admin:Profile/personal-data.html.twig' %}
                        </div>
                    </div>

                    <!-- BASIC INFORMATION -->
                    <div class="p-block">
                        <div class="p-block-header">
                            <h2><i class="fa fa-phone"></i>{{ 'Contact information' | trans }}</h2>
                            <ul class="actions">
                                <li>
                                    <a href="" aria-expanded="false" data-action="edit">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="p-block-body">
                            {% include 'BackendBundle:Admin:Profile/contact-data.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'BackendBundle:Scripts:xmlhttprequest-helper.html.twig' %}
    {% include 'BackendBundle:Scripts:image-thumbnail-helper.html.twig' %}
    <script>
        window.addEventListener('load', function(evt) {
            ImageThumbnail.init('#multiple_images_images', '#upload-thumbnails', 'image-thumbnail-avatar');
        });
    </script>
{% endblock %}