<div class="pbb-view">
    <p data-update="admin_user_profile_summary">
        {% if user.summary %}{{ user.summary }}{% else %}{{ 'You should type a few lines about you' | trans }}{% endif %}
    </p>
</div>

<div class="pbb-edit">
    <form id="profile-summary" action="{% if superadmin is defined %}{{ path('super_admin_user_update_profile', {'id': user.id}) }}{% else %}{{ path('admin_user_profile_update') }}{% endif %}" method="post">
        <div class="form-group">
            <div class="line">
                <textarea name="admin_user_profile[summary]" class="form-control" value="{% if user.summary %}{{ user.summary }}{% endif %}" placeholder="{{ 'Summary...' }}" rows="5">{% if user.summary %}{{ user.summary }}{% endif %}</textarea>
            </div>
            <div class="mt1">
                <button type="submit" class="btn btn-blue">{{ 'Save' | trans }}</button>
                <button type="reset" class="btn btn-default borderless cancel">{{ 'Cancel' | trans }}</button>
            </div>
        </div>
    </form>
</div>