<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{"Panel de administración" | trans }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/frontend/img/favicon.ico') }}">
    <script src="{{ asset('bundles/backend/js/jquery.min.js') }}"></script>
    {% block mainstylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/backend/css/bootstrap.min.css') }}">
        {% stylesheets filter='cssrewrite, sass' output='css/backoffice.css'
        'bundles/backend/css/font-awesome.min.css'
        'bundles/backend/css/custom.scss'%}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    {% block stylesheets %}{% endblock %}
</head>
<body data-color="blue" class="flat">
{% block header %}{% endblock %}
<section id="main" class="{% block sectionclass %}{% endblock %}">
    {% block sidenav %}{% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}

    {% block javascripts %}
        <script>
            $(document).ready(function(){
                $('a.delete').click(function(event){
                    event.preventDefault();
                    if (confirm('{{ "¿Estas seguro que quieres borrarlo?" | trans() }}')) {
                        window.location = $(this).attr('href');
                    }
                });

                $('form').bind('submit', function(event) {
                    $('.loader').show();
                })
            });
        </script>
    {% endblock %}
</section>
</body>
</html>
